<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/html-head-meta %>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta property="og:title" content="Chaikin Analytics Power Gauge Stock Rating | ACP Plug-Ins | StockCharts.com" />
    <meta name="twitter:title" content="Chaikin Analytics Power Gauge Stock Rating | ACP Plug-Ins | StockCharts.com" />
    <meta property="og:image" content="https://d.stockcharts.com/img/plugin-chaikin.jpg" />
    <meta name="twitter:image" content="https://d.stockcharts.com/img/plugin-chaikin.jpg" />

    <title>Chaikin Analytics Power Gauge Stock Rating | ACP Plug-Ins | StockCharts.com</title>

    <% include ../../partials/scc-html-head %>
    <% include ../../partials/scc-html-head-free-plug-in-login-js %>
  </head>
  <body id="page-top">
    <% include ../../partials/scc-navbar %>

    <!-- PAGEBODY -->
	  <div id="pagebody">
      <%- include('../../partials/marketplace-header', {
        plugInName: '"Power Gauge Stock Rating" by Chaikin&nbsp;Analytics'
      }); -%>

      <!-- PAGECONTENTS -->
      <div id="pagecontents">

        <div class="container-fluid">
            
          <!-- ABOUT PRODUCT -->
          <div id="aboutProduct" class="section bg-white">
            <div class="container">
              <div class="row">

                <%- include('../../partials/marketplace-product-banner', {
                  imagePath: '//d.stockcharts.com/img/plugin-chaikin.jpg',
                  imageAlt: 'Chaikin Analytics Power Gauge Stock Rating ACP Plug-In'
                }); -%>

                <div class="col-md-8 col-sm-9 col-xs-12 product-body">
                  <%- include('../../partials/marketplace-title', {
                    title: 'Boost Your StockCharts Experience With A Fundamental&nbsp;Upgrade!',
                    price: '$39.95 / year'
                  }); -%>

                  <% include ../../partials/subscription-plug-in-install-btn %>

                  <p>
                    <b>Take your analysis to the next level when you install the Chaikin Power&nbsp;Gauge Stock Rating plug-in powered by Chaikin&nbsp;Analytics!</b>
                    It’s the first and only fundamental offering available on StockCharts new ACP&nbsp;platform.
                  </p>

                  <p>
                    The Power Gauge Stock Rating is a 20-factor model that combines financial data (like return on equity and free cash flow) with earnings information, expert opinions, and technicals into one easy-to-understand rating from Very&nbsp;Bullish to Very&nbsp;Bearish.
                  </p>

                  <p>
                    <b>As a primarily fundamental indicator</b>, the Chaikin Power&nbsp;Gauge quantifies the research process of a stock’s fundamentals, giving you a clear picture that you can incorporate into your technical analysis.
                  </p>

                  <h2 class="title-blue">About The Chaikin Power&nbsp;Gauge Stock&nbsp;Rating</h2>
                  
                  <p>
                    Built by Marc Chaikin, who you may know as the renowned Wall Street expert known for his creation of the Chaikin Money Flow indicator, the Chaikin Power Gauge Stock Rating plug-in assesses the most important factors impacting a stock’s future price movement.
                  </p>

                  <p>
                    The rating is comprised of twenty factors, within four major components:
                  </p>

                  <img src="//d.stockcharts.com/img/chaikin-components.png" alt="Chaikin Components" class="product-image" />

                  <h2 class="title-blue">The Power&nbsp;Gauge Stock&nbsp;Rating Includes:</h2>

                  <ul>
                    <li>
                      <span class="feature-name">- Powerful, reliable Power Gauge Stock Ratings on over 4,000 stocks</span>
                    </li>
                    <li>
                      <span class="feature-name">- A proprietary combination of fundamental, technical, and sentiment data, built by stock market expert Marc&nbsp;Chaikin</span>
                    </li>
                    <li>
                      <span class="feature-name">- Clear and transparent explanations for each stock rating</span>
                    </li>
                    <li>
                      <span class="feature-name">- Further rating breakdown into each of the four components (financials, earnings, technicals, and expert opinions) so you can see which factors are driving the rating</span>
                    </li>
                    <li>
                      <span class="feature-name">- A time-efficient tool for incorporating fundamental analysis into your research and stock selection process</span>
                    </li>
                  </ul>

                  <h2 class="title-blue">5 Ratings, Updated Daily For Over 4,000 Stocks</h2>

                  <img src="//d.stockcharts.com/img/chaikin-ratings.png" alt="Chaikin Ratings" class="product-image" style="margin-bottom:0 !important;" />

                  <p style="margin-bottom:30px !important; text-align:center; color:#707f8f; font-size:14px;">
                    Less Likely To Outperform&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>&nbsp;&nbsp;More Likely To Outperform
                  </p>

                  <p>
                    <b>The Power&nbsp;Gauge rating also includes a <u>built-in technical overlay</u> to accommodate for when fundamental and technical factors do not agree.</b>
                  </p>

                  <h2 style="margin-top:15px; text-align:center; color:#f1c232;">
                    Neutral&nbsp;+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neutral&nbsp;-
                  </h2>

                  <p style="color:#707f8f; font-size:14px;">
                    <em>If a Bullish stock closes <b>below</b> its long-term trend, the Power Gauge Stock Rating will be clipped to Neutral + (conversely a Bearish stock will be clipped to Neutral- if it crosses <b>above</b> its long-term trend).</em>
                  </p>

                  <p>
                    The technical overlay is applied when the Power Gauge Stock Rating does not agree with the actual technical condition of the stock, as this indicates there may be some information driving the market which the model has not factored in yet.
                    Investors may choose to use this technical overlay as a “call to action” for further research into a stock ahead of possible price&nbsp;movements.
                  </p>

                  <!-- DOCUMENTATION LINK -->
                  <div class="alert alert-secondary">
                    <a href="" target="_blank">Click&nbsp;here</a> for more information about how to use the "Chaikin&nbsp;Analytics Power&nbsp;Gauge Stock Rating" plug-in.
                    The documentation provided in our Support&nbsp;Center will help make sure you get the most out of this unique ACP&nbsp;plug-in.
                  </div>
                  

                  <h2 class="title-blue">Leverage The Power Gauge Stock Rating With Different Investing And Trading Strategies</h2>

                  <p>
                    You can combine the Chaikin Power&nbsp;Gauge Stock Rating plug-in with your own approach to stock selection, including buy-and-hold, options, and swing trading strategies, or whether you primarily focus on technicals or fundamentals.
                  </p>

                  <%- include('../../partials/youtube-video', {
                    youtubeLink: 'https://www.youtube.com/embed/OnfDgDIgymE'
                  }); -%>

                  <!-- TESTIMONIALS -->
                  <h2 class="title-blue">Hear From Chaikin Power Gauge Users</h2>
                  <div class="alert alert-secondary" style="margin-bottom:5px; font-style:italic !important;">
                    "I’ve made significant money with the Power Gauge Rating.
                    This is a must-have for any investor, from the sophisticated institutional techie to the individual investor.
                    Try it and have fun!"
                  </div>
                  <p style="text-align:right;">
                    <b>- William F. Landy</b>
                  </p>
                  <div class="alert alert-secondary" style="margin-bottom:5px; font-style:italic !important;">
                    "There’s a lot of hyped-up tools out there, but a single tool that combines 20 fundamental AND technical factors to anticipate a stock’s profit potential got my attention.
                    It’s called the Chaikin Power Gauge Stock Rating.
                    At first glance I thought this looked like an objective ‘awesome meter’ for stocks."
                  </div>
                  <p style="text-align:right;">
                    <b>- John F. Carter</b>, CEO &amp; President, Simpler&nbsp;Trading
                  </p>

                  <!-- ABOUT MARC -->
                  <h2><i class="fas fa-fw fa-user-tie"></i>&nbsp;About The Creator, Marc&nbsp;Chaikin</h2>
                  <p>
                    After 40 years on Wall Street as a trader, stock broker, analyst and head of the options department for a major brokerage firm, <b>Marc&nbsp;Chaikin</b> founded Chaikin&nbsp;Analytics LLC to deliver proven stock analytics to investors and traders, based on the Chaikin Power Gauge, a 20-factor alpha model proven effective at identifying a stock’s potential.
                    Chaikin developed computerized stock selection models and technical indicators that have become industry standards (including Chaikin Money Flow) and pioneered the first real-time analytics workstation for portfolio managers and stock traders.
                  </p>

                  <!-- ABOUT CHAIKIN -->
                  <h2><i class="far fa-fw fa-info"></i>&nbsp;About Chaikin&nbsp;Analytics</h2>
                  <p>
                    Founded in 2011 by Marc&nbsp;Chaikin, Chaikin&nbsp;Analytics provides a suite of stock research tools and portfolio management services that help investors pick winning stocks and drop losing stocks ahead of market&nbsp;shifts.
                    <br />
                    <br />
                    The Chaikin Power&nbsp;Gauge Rating is the centerpiece of Chaikin&nbsp;Analytics, and is now available on StockCharts via the Chaikin&nbsp;Analytics plug-in for ACP.
                  </p>

                  <% include ../../partials/plug-in-general-info %>

                </div>
              </div>

            </div>
          </div><!-- end of ABOUT PRODUCT -->

        </div><!-- end of .CONTAINER-FLUID -->
      </div><!-- end of #PAGECONTENTS -->
    </div><!-- end of #PAGEBODY -->

    <% include ../../partials/scc-footer %>
    <% include ../../partials/scc-noscript %>
    <% include ../../partials/plug-in-install-modal %>
    <% include ../../partials/scc-trial-modal %>
    <% include ../../partials/scc-easing-sliding-js %>
    <%- include('../../partials/subscription-plug-in-install-check-js', {
      plugInId: '8'
    }); -%>
  </body>
</html>
