<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/html-head-meta %>

    <meta name="description" content="Explore our full collection of ACP plug-ins, designed to instantly enhance your charting experience with exclusive indicators, overlays and other technical capabilities." />
    <meta name="keywords" content="technical analysis, charts, financial charts, sharpcharts, point and figure, yield curve, seasonality, rrg, relative rotation graph, investing, stocks, etfs" />

    <meta property="og:title" content="ACP Plug-Ins | StockCharts.com" />
    <meta property="og:description" content="Explore our full collection of ACP plug-ins, designed to instantly enhance your charting experience with exclusive indicators, overlays and other technical capabilities" />
    <meta property="og:image" content="https://stockcharts.com/img/scc-plugins-banner.png" />
    <meta property="og:url" content="https://stockcharts.com/marketplace/acp/" />
    <meta property="og:site_name" content="StockCharts.com" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://stockcharts.com/img/scc-plugins-banner.png" />
    <meta name="twitter:image:alt" content="ACP Plug-Ins" />
    <meta name="twitter:title" content="ACP Plug-Ins | StockCharts.com" />
    <meta property="twitter:description" content="Explore our full collection of ACP plug-ins, designed to instantly enhance your charting experience with exclusive indicators, overlays and other technical capabilities" />
    <meta name="twitter:site" content="@stockcharts" />

    <title>ACP Plug-Ins | StockCharts Marketplace | StockCharts.com</title>

    <% include ../../partials/scc-html-head %>

    <style>
      /* ----------- */
      /* PLUGIN GRID */
      /* ----------- */
      .plugin-grid { padding-top:15px; }
      .plugin-grid .product-col { padding-bottom:30px; }
      .plugin-grid .plugin-card { margin:0 0 15px 0; padding:0; background-color:#f2f5f7; border-bottom:3px solid #c0ced8; }
      .plugin-grid .col-header { padding:0 5px 10px 5px; margin-bottom:10px; border-bottom:2px solid #c0ced8; }
      .plugin-grid .col-header h3 { display:block; vertical-align:middle; margin:0; font-family:'Roboto Condensed','Lato','Helvetica Neue',Helvetica,Arial,sans-serif; line-height:1.25; font-size:25px; font-weight:900; color:#2d3339; }
      .plugin-grid .col-header .product-label { display:inline-block; margin:0 0 8px 0; padding:3px 6px; background-color:#707f8f; border:0; border-radius:0; font-size:12px; font-weight:bold; color:#fff; }
      .plugin-grid .col-header .product-label.label-dark { background-color:#16191d; }
      .plugin-grid .col-header .product-label.label-blue { background-color:#0f4d8a; }
      .plugin-grid .col-header .product-label.label-lightblue { background-color:#3281d0; }
      .plugin-grid .col-header .product-label.label-green { background-color:#219155; }
      .plugin-grid .col-header .product-label.label-red { background-color:#cc000e; }
      .plugin-grid .col-header .product-label.label-orange { background-color:#f9690e; }
      .plugin-grid .col-header .product-label.label-yellow { background-color:#f8d23a; }
      .plugin-grid .col-header .product-label.label-purple { background-color:#8740a5; }
      .plugin-grid .product-image { display:block; margin:0 auto; text-align:center; }
      .plugin-grid .product-image img { width:100%; max-width:100%; }
      .plugin-grid .product-image img:hover { opacity:0.75; -webkit-transition:all 0.35s ease; -moz-transition:all 0.35s ease; -o-transition:all 0.35s ease; transition:all 0.35s ease; }
      .plugin-grid p.info { margin:10px 0 0 0; }
      .plugin-grid .btn-row { margin:0; padding:10px; text-align:center; }
    </style>
  </head>
  <body id="page-top">
    <% include ../../partials/scc-navbar %>

    <!-- PAGEBODY -->
    <div id="pagebody">

      <!-- MARKETPLACE HEADER -->
      <header id="marketplace-header">
        <div class="container">
          <div class="img-bg plugins-header-bg"></div>
          <div class="col-xs-12 text-col">
            <h3>StockCharts Marketplace</h3>
            <h1>ACP PLUG-INs</h1>
          </div>
        </div>
      </header><!-- end of MARKETPLACE HEADER -->

      <!-- PAGECONTENTS -->
      <div id="pagecontents">

        <!-- LINKS ROW
        <div class="section-links-row">
          <div class="section-links-row-bound">
            <ul class="section-links-row-ul">
              <li><a href="/marketplace/index.html#commentaryPartners" class="page-scroll"><i class="fas fa-users"></i>Commentary Partners</a></li>
              <li><a href="/marketplace/index.html#corporatePartners" class="page-scroll"><i class="fas fa-briefcase"></i>Corporate Partners</a></li>
              <li><a href="/marketplace/acp/"><i class="fas fa-plug"></i>ACP Plug-Ins</a></li>
            </ul>
          </div>
        </div>-->

        <div class="container-fluid">

          <!-- ACP PLUGINS -->
          <div id="acpPlugins" class="section sec-lg bg-white">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 text-col">
                  <h2 class="sec-title title-blue"><i class="fas fa-plug"></i>&nbsp;UNLOCK MORE FROM ACP</h2>
                  <hr class="line-thick line-50">
                  <p class="info">
                    Instantly enhance your ACP experience by installing any of our exclusive plug-ins.
                    Explore the full collection below and click on each plug-in to learn more.
                  </p>
                </div>
                <!-- PLUGIN FILTER -->
                <div class="col-sm-6 col-xs-12 text-col partner-filter">
                  <div class="form-group form-group-lg">
                    <label for="filter-acpPlugins"><i class="fas fa-fw fa-search"></i>&nbsp;Search</label>
                    <input type="text" class="form-control input-lg" id="filter-acpPlugins" name="Filter ACP Plug-ins" placeholder="Enter Plug-In Name or Provider" />
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- PLUGIN GRID -->
                <div class="plugin-grid">

                  <!-- ADVANCED INDICATOR PACK -->
                  <%- include('../../partials/acp-plug-in-card', {
                    plugInPage: 'advanced-indicator-pack.html',
                    plugInImage: 'plugin-advanced-indicator-pack.jpg',
                    plugInImageAlt: 'StockCharts Advanced Indicator Pack ACP Plug-In'
                  }); -%>

                  <!-- TREND INVESTOR PRO -->
                  <%- include('../../partials/acp-plug-in-card', {
                    plugInPage: 'trend-investor-pro.html',
                    plugInImage: 'plugin-trend-investor-pro.jpg',
                    plugInImageAlt: 'Trend Investor Pro Indicator Edge ACP Plug-In'
                  }); -%>

                  <!-- LARRY WILLIAMS -->
                  <%- include('../../partials/acp-plug-in-card', {
                    plugInPage: 'larry-williams.html',
                    plugInImage: 'plugin-larry-williams.jpg',
                    plugInImageAlt: 'Larry Williams Indicator Pack ACP Plug-In'
                  }); -%>

                  <!-- TRADING SIMPLIFIED -->
                  <%- include('../../partials/acp-plug-in-card', {
                    plugInPage: 'trading-simplified.html',
                    plugInImage: 'plugin-trading-simplified.jpg',
                    plugInImageAlt: 'Trading Simplified ACP Plug-In'
                  }); -%>

                  <!-- MARKETGAUGE TRIPLE PLAY -->
                  <%- include('../../partials/acp-plug-in-card', {
                    plugInPage: 'marketgauge-price-performance.html',
                    plugInImage: 'plugin-marketgauge-triple-play.jpg',
                    plugInImageAlt: 'MarketGauge Triple Play Indicators ACP Plug-In'
                  }); -%>

                  <!-- MARKETGAUGE REAL MOTION -->
                  <%- include('../../partials/acp-plug-in-card', {
                    plugInPage: 'marketgauge-realmotion.html',
                    plugInImage: 'plugin-marketgauge-realmotion.jpg',
                    plugInImageAlt: 'MarketGauge Real Motion ACP Plug-In'
                  }); -%>

                  <!-- 4TH DIMENSION STARTER PACK -->
                  <%- include('../../partials/acp-plug-in-card', {
                    plugInPage: '4th-dimension-starter.html',
                    plugInImage: 'plugin-4th-dimension-starter.jpg',
                    plugInImageAlt: '4th Dimension Starter Pack ACP Plug-In'
                  }); -%>

                  <!-- CHAIKIN -->
                  <%- include('../../partials/acp-plug-in-card-coming-soon', {
                    plugInImage: 'plugin-chaikin.jpg',
                    plugInImageAlt: 'Chaikin Analytics ACP Plug-In'
                  }); -%>

                  <!-- SIMPLER TRADING -->
                  <%- include('../../partials/acp-plug-in-card-coming-soon', {
                    plugInImage: 'plugin-simpler-trading-moxie.jpg',
                    plugInImageAlt: 'Simpler Trading ACP Plug-In'
                  }); -%>

                  <!-- OPTIONS PLAY -->
                  <%- include('../../partials/acp-plug-in-card-coming-soon', {
                    plugInImage: 'plugin-optionsplay.jpg',
                    plugInImageAlt: 'OptionsPlay ACP Plug-In'
                  }); -%>

                  <!-- GONOGO CHARTS -->
                  <%- include('../../partials/acp-plug-in-card-coming-soon', {
                    plugInImage: 'plugin-gonogo-charts.jpg',
                    plugInImageAlt: 'GONOGO Charts ACP Plug-In'
                  }); -%>

                  <!-- MARTIN PRING -->
                  <%- include('../../partials/acp-plug-in-card-coming-soon', {
                    plugInImage: 'plugin-martin-pring.jpg',
                    plugInImageAlt: 'Martin Pring Indicator Pack ACP Plug-In'
                  }); -%>

                  <!-- 4TH DIMENSION -->
                  <%- include('../../partials/acp-plug-in-card-coming-soon', {
                    plugInImage: 'plugin-4th-dimension.jpg',
                    plugInImageAlt: '4th Dimension ACP Plug-In'
                  }); -%>

                </div><!-- end of .PLUGIN-GRID -->
              </div>
            </div>
          </div><!-- end of #ACPPLUGINS -->
        </div><!-- end of .CONTAINER-FLUID -->
      </div><!-- end of #PAGECONTENTS -->
    </div><!-- end of #PAGEBODY -->

    <% include ../../partials/scc-footer %>
    <% include ../../partials/scc-noscript %>
    <% include ../../partials/scc-easing-sliding-js %>
  </body>
</html>
