<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/scc-html-head', {
      metaDescription: 'Trade with the very same charting tools used by world champion trader, Larry Williams',
      metaOgTitle: 'Larry Williams Stock Trading Starter Pack | ACP Plug-Ins | StockCharts.com',
      metaTwitterTitle: 'Larry Williams Stock Trading Starter Pack | ACP Plug-Ins | StockCharts.com',
      metaOgImage: 'https://d.stockcharts.com/img/plugin-larry-williams.jpg',
      metaTwitterImage: 'https://d.stockcharts.com/img/plugin-larry-williams.jpg',
      title: 'Larry Williams Stock Trading Starter Pack | ACP Plug-Ins | StockCharts.com'
    }); -%>
    <% include ../../partials/scc-html-head-paid-plug-in-login-js %>
  </head>
  <body id="page-top">
    <% include ../../partials/scc-navbar %>

    <!-- PAGEBODY -->
	  <div id="pagebody">
      <%- include('../../partials/marketplace-header', {
        plugInName: 'Larry Williams Stock Trading Starter Pack'
      }); -%>

      <!-- PAGECONTENTS -->
      <div id="pagecontents">

        <div class="container-fluid">
            
          <!-- ABOUT PRODUCT -->
          <div id="aboutProduct" class="section bg-white">
            <div class="container">
              <div class="row">

                <%- include('../../partials/marketplace-product-banner', {
                  imagePath: '//d.stockcharts.com/img/plugin-larry-williams.jpg',
                  imageAlt: 'Larry ACP Plug-In'
                }); -%>

                <div class="col-md-8 col-sm-9 col-xs-12 product-body">
                  <%- include('../../partials/marketplace-title', {
                    title: 'Trade with the very same charting tools used by world champion trader, Larry&nbsp;Williams!',
                    price: '$595.00'
                  }); -%>

                  <% include ../../partials/use-scc-email-message %>

                  <%- include('../../partials/shopify-buy-btn', {
                    productId: '4897985822822',
                    productComponentId: 'product-component-1596465473008'
                  }); -%>

                  <p>
                    With this unique ACP plug-in, you can use the exact same stock trading tools as Larry&nbsp;Williams, the man whose trading record has yet to be beaten.
                    Each indicator serves a specific and separate purpose and together, these tools will spot trades for you — in advance.
                    You will be able to confirm trades and with Larry's trend catching indicator, help you get into and hold on to winners.
                    All of these tools work on daily and weekly bars, and Larry uses one on intraday charts as&nbsp;well.
                  </p>

                  <%- include('../../partials/youtube-video', {
                    youtubeLink: 'https://www.youtube.com/embed/yOXvvWxs1ro'
                  }); -%>

                  <p>
                    All of the indicators in this plug-in are unique creations of Larry Williams himself.
                    They are not re-works of other tools.
                    They are original works of Larry’s.
                    He personally developed and has used these tools along with thousands of his students for decades.
                    And now, they can be part of your toolkit&nbsp;too!
                  </p>

                  <ul>
                    <li>
                      <span class="feature-name">1. Williams True Seasonal</span>
                      <span class="feature-description">There is no other seasonal indicator like this. Why? All other seasonal indicators use out of sample data. They show the seasonal, for say 2007, but use data forward...from 2007 to now! Larry wrote the first book <em>ever</em> on seasonal patterns in futures in 1973. His seasonal uses no out of sample data. It can be used on daily or weekly charts (not&nbsp;intraday).</span>
                    </li>
                    <li>
                      <span class="feature-name">2. Williams Sentiment Index</span>
                      <span class="feature-description">This is Larry's tool to replicate when the newsletters and advisors are too bullish or too bearish. A vastly improved version of what Larry had featured in the Bloomberg '2000 book, "New Thinking in Technical Analysis". It has stood the test of time in helping call market tops and bottoms. A great aid to traders. When too many people are too bullish, stocks usually decline. When too many are bearish, stocks rally. This indicator can be used on weekly or daily&nbsp;charts.</span>
                    </li>
                    <li>
                      <span class="feature-name">3. Williams Money Flow Index</span>
                      <span class="feature-description">Make no mistake about it - large pools of informed money are active in the stock and commodity markets. After studying the Commitments of Traders Report for almost 50 years, Larry figured out how to tell when smart money is buying or selling. That's what this tool does. Want to know if smart money is buying or selling your stock or future? Check this index. In a glance you will know. It can be used on daily or weekly&nbsp;charts.</span>
                    </li>
                    <li>
                      <span class="feature-name">4. Williams Insider Accumulation Index</span>
                      <span class="feature-description">You may have heard of OBV (On Balance Volume), popularized by Larry's friend, Joe Granville. This tool goes the extra step to show you the powers of accumulation coming into the market on a daily base. When price rallies, without support from the Insiders (as measured by this index) a decline is coming. When stronger than price we have confirmation of a rally. Volume can be very misleading in stocks and futures. This index resolves that problem. This indicator is used on daily&nbsp;charts.</span>
                    </li>
                    <li>
                      <span class="feature-name">5. Williams Cycle Forecast</span>
                      <span class="feature-description">Get a view of the future with this unique "look forward" tool that combines the three most reliable short-term cycles, balances them against one another and gives a forecast of where price will most likely go. This indicator projects into the future, the likely path price will follow. S&amp;P 500 E-mini traders love the intra-day forecast using whatever time frame you chose to trade (15 minute, 30 minute, hourly, etc). This indicator is used on daily or intraday&nbsp;charts.</span>
                    </li>
                    <li>
                      <span class="feature-name">6. WillTrend</span>
                      <span class="feature-description">Need help with entries and exits? If so, you will love this; there is nothing else like it. Here is a clear-cut trend identification tool that can be used for entries. It rides trends when they develop to keep you in as long as possible. On a weekly chart, WillTrend clearly identifies the trend of the market. On a daily chart, WillTrend gives you entry and exit&nbsp;points.</span>
                    </li>
                  </ul>

                  <%- include('../../partials/help-center-alert', {
                    helpCenterLink: 'https://support.stockcharts.com/doku.php?id=acp:plugins:lwstarter',
                    plugInTitle: 'Larry Williams Stock Trading Starter Pack'
                  }); -%>

                  <h2><i class="fas fa-fw fa-user-tie"></i>&nbsp;About The Creator</h2>

                  <p>
                    <b>Larry Williams</b> has been trading futures, commodities, and stocks for over 53 years.
                    Through good years and bad, he has worked tirelessly to bring his market wisdom to the rest of us, recording, writing, sharing and teaching fellow traders.
                    Larry Williams has taught thousands to trade the markets, and has been the only futures trader in the world to repeatedly trade $1 million of his own money live at seminars around the globe.
                    Larry's long list of best-selling books includes 1982's "How to Prosper in the Coming Good Years" which accurately forecasted the largest bull market and surge in economic growth in American history.
                    He is a past board member of the National Futures Association and the recipient of numerous awards, including Futures Magazine's first Doctor of Futures Award, the Omega Research Lifetime Achievement Award, Significant Sig (a Sigma Chi acknowledgement), Traders International 2005 Trader of the Year, and 2014 MTA (Market Technicians Association) Man of the Year Award.
                    On October 6, 2002 the mayor of San Diego declared that day as Larry Williams' Day.
                  </p>

                  <% include ../../partials/plug-in-general-info %>

                </div>
              </div>

            </div>
          </div><!-- end of ABOUT PRODUCT -->

        </div><!-- end of .CONTAINER-FLUID -->
      </div><!-- end of #PAGECONTENTS -->
    </div><!-- end of #PAGEBODY -->

    <% include ../../partials/scc-footer %>
    <% include ../../partials/scc-noscript %>
    <% include ../../partials/plug-in-install-modal %>
    <% include ../../partials/scc-trial-modal %>
    <% include ../../partials/scc-easing-sliding-js %>
    <%- include('../../partials/paid-plug-in-install-check-js', {
      plugInId: '7'
    }); -%>
  </body>
</html>
