<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/html-head-meta %>
    <meta name="description" content="Get the edge on trend-following, mean-reversion and volatility with 10 exceptional indicators" />
    <meta name="keywords" content="" />

    <meta property="og:title" content="Trend Investor Pro Indicator Edge by Arthur Hill | ACP Plug-Ins | StockCharts.com" />
    <meta name="twitter:title" content="Trend Investor Pro Indicator Edge by Arthur Hill | ACP Plug-Ins | StockCharts.com" />
    <meta property="og:image" content="https://d.stockcharts.com/img/plugin-trend-investor-pro.jpg" />
    <meta name="twitter:image" content="https://d.stockcharts.com/img/plugin-trend-investor-pro.jpg" />

    <title>Trend Investor Pro Indicator Edge by Arthur Hill | ACP Plug-Ins | StockCharts.com</title>

    <% include ../../partials/scc-html-head %>

    <% include ../../partials/scc-html-head-paid-plug-in-login-js %>
  </head>
  <body id="page-top">
    <% include ../../partials/scc-navbar %>

    <!-- PAGEBODY -->
	  <div id="pagebody">
      <%- include('../../partials/marketplace-header', {
        plugInName: '"Trend Investor Pro Indicator Edge" by Arthur&nbsp;Hill'
      }); -%>

      <!-- PAGECONTENTS -->
      <div id="pagecontents">

        <div class="container-fluid">
            
          <!-- ABOUT PRODUCT -->
          <div id="aboutProduct" class="section bg-white">
            <div class="container">
              <div class="row">

                <%- include('../../partials/marketplace-product-banner', {
                  imagePath: '//d.stockcharts.com/img/plugin-trend-investor-pro.jpg',
                  imageAlt: 'Trend Investor Pro Indicator Edge ACP Plug-In'
                }); -%>

                <div class="col-md-8 col-sm-9 col-xs-12 product-body">
                  <%- include('../../partials/marketplace-title', {
                    title: 'Get the edge on trend-following, mean-reversion and volatility with 10 exceptional indicators',
                    price: '$49.95'
                  }); -%>

                  <% include ../../partials/use-scc-email-message %>

                  <%- include('../../partials/shopify-buy-btn', {
                    productId: '4847075983462',
                    productComponentId: 'product-component-1593400241539'
                  }); -%>

                  <p>
                    This plug-in is designed to help you trade in the direction of the bigger trend. Define the trend and spot new trends using the unique five-indicator Trend Composite. Identify pullbacks and mean-reversion opportunities using the fully-customizable Momentum Composite. This plugin also includes normalized volatility, normalized rate-of-change and some classic indicators with a distinctive twist.
                  </p>

                  <%- include('../../partials/youtube-video', {
                    youtubeLink: 'https://www.youtube.com/embed/qPrUAwx-4Rc'
                  }); -%>

                  <ul>
                    <li>
                      <span class="feature-name">1. TIP-Trend Composite</span>
                      <span class="feature-description">A trend indicator that quantifies and aggregates signals in five trend-following indicators (Moving Average Rate-of-Change, CCI Close, Bollinger Bands, Keltner Channels, StochClose)</span>
                    </li>
                    <li>
                      <span class="feature-name">2. TIP-StochClose</span>
                      <span class="feature-description">Based on the Stochastic Oscillator, a trend-momentum indicator that filters out intraday high-low spikes to improve signal consistency</span>
                    </li>
                    <li>
                      <span class="feature-name">3. TIP-RSI Trend Range</span>
                      <span class="feature-description">A trend indicator that uses the RSI range over a given timeframe to define uptrends and downtrends</span>
                    </li>
                    <li>
                      <span class="feature-name">4. TIP-Moving Average Trend</span>
                      <span class="feature-description">A trend indicator that shows when a moving average is rising or falling, and the degree of ascent or descent</span>
                    </li>
                    <li>
                      <span class="feature-name">5. TIP-Momentum Composite</span>
                      <span class="feature-description">A momentum indicator that quantifies and aggregates overbought/oversold signals in five momentum indicators (RSI, %B, StochClose, CCI Close, Normalized ROC)</span>
                    </li>
                    <li>
                      <span class="feature-name">6. TIP-Percent Above MA</span>
                      <span class="feature-description">A trend-momentum indicator that measures the percentage distance between two simple moving averages</span>
                    </li>
                    <li>
                      <span class="feature-name">7. TIP-CCI Close</span>
                      <span class="feature-description">Based on the Commodity Channel Index, a trend momentum indicator that filters out intraday high-low spikes to improve signal consistency</span>
                    </li>
                    <li>
                      <span class="feature-name">8. TIP-Normalized ROC</span>
                      <span class="feature-description">A momentum indicator that normalizes the absolute rate-of-change using the Average True Range (values can be compared across securities)</span>
                    </li>
                    <li>
                      <span class="feature-name">9. TIP-High Low Range Percent</span>
                      <span class="feature-description">A volatility indicator that shows when the high-low range narrows or expands</span>
                    </li>
                    <li>
                      <span class="feature-name">10. TIP-Normalized ATR</span>
                      <span class="feature-description">A volatility indicator that shows the Average True Range as a percentage of price (values can be compared across securities)</span>
                    </li>
                  </ul>

                  <%- include('../../partials/help-center-alert', {
                    helpCenterLink: 'https://support.stockcharts.com/doku.php?id=acp:plugins:tip',
                    plugInTitle: 'Trend Investor Pro Indicator Edge'
                  }); -%>

                  <%- include('../../partials/youtube-video', {
                    youtubeLink: 'https://www.youtube.com/embed/qi5FPu-kMy0'
                  }); -%>

                  <h2><i class="fas fa-fw fa-user-tie"></i>&nbsp;About The Creator</h2>

                  <p>
                    <b>Arthur Hill, CMT,</b> is the Chief Technical Strategist at TrendInvestorPro.com.
                    Arthur combines classical technical analysis with quantitative insights for a systematic approach to analysis, trading and investing.
                    Leveraging over 25 years of experience in the financial markets, he creates indicators and develops strategies designed to help trend-followers and mean-reversion traders.
                    In addition to his Chartered Market Technician (CMT) designation, he holds an MBA from the Cass Business School at City University in London.
                  </p>

                  <%- include('../../partials/plug-in-general-info', {
                    nonRefundable: true,
                    plugInName: 'Trend Investor Pro Indicator Edge'
                  }); -%>

                </div>
              </div>
                  
            </div>
          </div><!-- end of ABOUT PRODUCT -->

        </div><!-- end of .CONTAINER-FLUID -->
      </div><!-- end of #PAGECONTENTS -->
    </div><!-- end of #PAGEBODY -->

    <% include ../../partials/scc-footer %>
    <% include ../../partials/scc-noscript %>
    <% include ../../partials/plug-in-install-modal %>
    <% include ../../partials/scc-trial-modal %>
    <% include ../../partials/scc-easing-sliding-js %>
    <%- include('../../partials/paid-plug-in-install-check-js', {
      plugInId: '2'
    }); -%>
  </body>
</html>
